<h2>Brevet Control Times</h2>
<br>
{% for item in items %}
  <h3 style="color: blue;"> Control Point </h3>
  <p> Distance: {{ item.location }}km </p>
  <p> Open time: {{ item.open }} <p>
  <p> Close time: {{ item.close }} <p>
{% endfor %}
